body{
    margin:0;
    background:black;
    color:#ffbd1b;
    font-family:Arial,sans-serif;
}

#ecranDemarrage{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

.terminal{
    width:800px;
    max-width:90%;
    text-align:center;
    border:2px solid #ffbd1b;
    padding:40px;
    box-shadow:0 0 30px #ffbd1b;
}

.logo{
    width:150px;
    margin-bottom:20px;
}

.barre{
    width:100%;
    height:25px;
    border:1px solid #ffbd1b;
    margin:20px 0;
}

.progression{
    width:0;
    height:100%;
    background:#ffbd1b;
    animation:load 16s linear forwards;
}

@keyframes load{
    from{width:0;}
    to{width:100%;}
}

.sousTitre{font-size:20px;}
.danger{color:red;font-weight:bold;font-size:22px;}

button{
    background:black;
    color:#ffbd1b;
    border:1px solid #ffbd1b;
    padding:12px 20px;
    cursor:pointer;
    display:none;
}

button:hover{
    background:#ffbd1b;
    color:black;
}

#dossier{display:none;}

.container{width:90%;margin:auto;padding:20px;}

.header{text-align:center;}

.menu{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    margin:30px 0;
}

.menu button{display:block;}

.menu button.actif{
    background:#ffbd1b;
    color:black;
}

.onglet{display:none;}

.section{
    border:2px solid #ffbd1b;
    padding:25px;
    box-shadow:0 0 15px #ffbd1b;
}